* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* 1 rem = 10px */

html {
    font-size: 62.5%;
}

/*Hemos probado con etiqueta, sin etiqueta, añadiendo width y un valor y sin él, y no funciona */

.header {
    display: flex;
    flex-direction: column;
    background-color: black;
    
}